/data/raw/
/data/interim/
/data/processed/
/experiments/


*.edf
*.bdf
*.fif
*.npy
*.npz
*.h5
*.hdf5

*.pt
*.pth
*.ckpt

__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
.eggs/

.venv/
venv/
env/

.ipynb_checkpoints/
*.ipynb_checkpoints

experiments/mlruns/
experiments/wandb/
mlruns/
wandb/

/logs/

.idea/
.vscode/
*.swp

.DS_Store
Thumbs.db
